<div class="comment-<%= comment.id %> card">
  <div class="card-header">
    <div class="d-flex figure">
      <div class="align-self-center">
        <%= image_tag comment.user.avatar_icon, class:" rounded"%>
      </div>
      
      <div class="align-self-center px-1">
        <%= comment.user.name %> <br />
      </div>
  
      <div class ="ms-auto align-self-center ">
        <% if (comment.updated_at - comment.created_at) > 1%>
          <span class="text-secondary">Edited <%= time_ago_in_words(comment.updated_at) %> ago</span>
        <% else %>
          <span class="text-secondary"> Posted <%= time_ago_in_words(comment.created_at) %></span>
        <% end %>
      </div>
    </div>
    
  </div>
  <div class="card-body">
  
  <div id="comment-body-<%= comment.id %>">
    <%= comment.body %>
  </div>
  <br/>
  <% if current_user == comment.user %>
    <div class="btn-group float-end">
      <%= link_to "Edit", nil, remote: true, class:"btn btn-secondary", 
      data:{
        controller:  "comments",
        action:  "comments#toggleForm",
        comments_form_param: "edit-form-#{comment.id}",
        comments_body_param: "comment-body-#{comment.id}",
        comments_edit_param: "edit-button-#{comment.id}"
      }, 
      id: "edit-button-#{comment.id}" %>
      <%= button_to "Delete", [post, comment], class:"btn btn-danger", method: :delete%>
    </div>

    <%# creates a edit form with the prev comment as parameter comment: comment %>
    <div id="edit-form-<%= comment.id %>" class="d-none">
      <%= render 'comments/form', 
      post: @post,
      comment: comment,
      submit_label: "Update" %>
    </div>
  <% end %>
  <hr />
  </div>
  
  
  
  
</div>